.header {
    position: absolute;
    top: 0;
    
    width: 100%;
    padding-top: 40px;
}

.header__container {
    justify-content: space-between;
}

.nav__list {
    display: flex;
    gap: 32px;
}

.nav__link {font: 500 1rem/1 var(--font-family)}

@media (max-width: 750px ) {
    .nav__list {display: none}
}

@media (max-width: 450px) {
    .logo img {width: 71%}
}